%head
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %title= content_for?(:title) ? yield(:title) : 'Inyxmater Rails'
  %link{:href => "http://fonts.googleapis.com/css?family=Titillium+Web:300", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "http://fonts.googleapis.com/css?family=Roboto:300", :rel => "stylesheet", :type => "text/css"}
  = stylesheet_link_tag 'admin/application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'admin/application', 'data-turbolinks-track' => true
  = javascript_include_tag "//www.google.com/jsapi", "chartkick"
  = csrf_meta_tags
  = favicon_link_tag "frontend/favicon.png"