- unless EngineRails.routes_sitebar.nil?
	- EngineRails.routes_sitebar.each do |key, link|
		%li{ class: "#{'active' if params[:controller].split("/").last.downcase == key}" }
			= link_to "/admin#{link}" do
				= raw t("engine.#{key}")

- unless EngineRails.routes_dropdown.nil?
	- EngineRails.routes_dropdown.each do |drop|
		- drop.first.each do |key,	value|
			%li.dropdown{ class: "#{'active' if value.include? params[:controller]}", id: "#{key}-dropdown" }
				= link_to "#collapse-#{key}", { "data-toggle" => "collapse" } do
					= raw value.first
					%i.drop.fa.pull-right{ class: "#{value.include?(params[:controller]) ? 'fa-angle-down' : 'fa-angle-left'}" }
			:javascript
				$( document ).ready(function() {
					$("#collapse-#{key}").on('hide.bs.collapse', function () {
						$("##{key}-dropdown .drop").removeClass('fa-angle-down')
						$("##{key}-dropdown .drop").addClass('fa-angle-left')
						$("##{key}-dropdown a").blur()
						if("#{value.include? params[:controller].split("/").last.downcase}" == "false") {
						$("##{key}-dropdown").css({background:"none", borderRadius:"2px"})
						}
					})

					$("#collapse-#{key}").on('show.bs.collapse', function () {
						$("##{key}-dropdown .drop").removeClass('fa-angle-left')
						$("##{key}-dropdown .drop").addClass('fa-angle-down')
						$("##{key}-dropdown a").blur()
						if("#{value.include? params[:controller].split("/").last.downcase}" == "false") {
							$("##{key}-dropdown").css({backgroundColor:"#e7e7e7", borderRadius:"0px"})
						}
					})
				});
			.collapse{ id: "collapse-#{key}", class: "#{'in' if value.include? params[:controller] }"}
				%ul.sub-modules
					- drop.last.each do |key, link|
						%li{ class: "#{'active' if params[:controller] == key}" }
							= link_to "/admin#{link}" do
								= raw t("engine.#{key.split("/").last.downcase}")

