%li{ class: "#{'active' if params[:controller] == 'admin'}" }
  = link_to main_app.admin_index_path do
    %i.fa.fa-desktop
    Principal

- if current_user.has_role? :admin or current_user.has_role? :afiliado
  %li{ class: "#{'active' if params[:controller] == 'affiliates'}" }
    - if current_user.has_role? :admin
      = link_to "/admin/affiliates" do
        %i.fa.fa-file-text-o
        Afiliados
    - elsif current_user.has_role? :afiliado and !current_user.affiliate.nil?
      = link_to "/admin/affiliates/#{current_user.affiliate.id}/edit" do
        %i.fa.fa-file-text-o
        Mi datos de afilicion
      
- if can? :index, InyxBlogRails::Post
  = render "layouts/admin/links_engines"

- if can? :index, User
  %li{ class: "#{'active' if params[:controller] == 'users'}" }
    = link_to main_app.users_path do
      %i.fa.fa-user
      = t('user.model')

%li.visible-xs  
  = link_to main_app.root_path do
    = "<i class='fa fa-reply'></i> #{t("navbar-admin.website")}".html_safe