%ul.nav.nav-pills.nav-justified#dash-nav{ style: "padding-top:50px;"}
	%li{ class: "#{'active' if action_name == 'index' or action_name == 'news_show'}"}
		= link_to "Noticias", admin_index_path
	%li{ class: "#{'active' if action_name == 'polls'}"}
		= link_to "Encuestas", polls_question_path
		