- if current_user.has_role? :admin
	= content_for(:title, "Administracion - CACOINPAR")
- else 
	= content_for(:title, "Afiliados - CACOINPAR")
- if current_user.has_role? :admin
	.row{style:"width: 100%; margin-top: 50px; padding: 10px; margin-left: 0px; margin-right: 0px;"}
		.col-lg-4.col-md-6.col-sm-6
			.panel-info		
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-6{style:"z-index:1"}
						.number-info
							= Location.all.count
						.title-info
							Visitas
					.col-lg-6.col-md-6.col-sm-6.col-xs-6			
						.icon-info
							%i.fa.fa-eye
		.col-lg-4.col-md-6.col-sm-6
			.panel-info
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-6{style:"z-index:1"}
						.number-info
							= Affiliate.where(status: "Aprobado").count
						.title-info
							Afiliados
					.col-lg-6.col-md-6.col-sm-6.col-xs-6			
						.icon-info
							%i.fa.fa-users

		.col-lg-4.col-md-6.col-sm-6
			.panel-info
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-6{style:"z-index:1"}
						.number-info
							= DateTime.now.strftime("%d")
						.title-info
							= DateTime.now.strftime("%B")
					.col-lg-6.col-md-6.col-sm-6.col-xs-6			
						.icon-info
							%i.fa.fa-calendar
= render "nav_dashboard"
- flash.each do |name, msg|
	- if msg.is_a?(String)
		%div.hidden-xs{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}", id:"message_alerts"}
			%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
			= content_tag :div, msg, :id => "flash_#{name}"
.news
	.row
		.col-lg-3.col-lg-offset-9
			= form_tag admin_index_path, method: :get, :html => {:class => ""} do |f|
				.input-group
					= text_field_tag :query, params[:query], :placeholder => "Buscar..", class: "form-control"
					%span.input-group-btn
						%button.btn.btn-default
							%i.fa.fa-search
	- if @posts.empty?
		%p{ style: "text-align:center"} No hay posts 
	- @posts.each do |post|
		= link_to news_show_path(post.id), class: "link-post" do
			.post-affiliate
				%h2
					= post.title
				.small
					= "#{post.created_at.strftime("%d %b. %Y")}, #{post.user.name}"
	.center{ style: "text-align:center"}
		= paginate @posts

	
