= content_for(:title, "Admin - #{@post.title}")

= render "nav_dashboard"
.news
	.row
		.col-lg-3.col-lg-offset-9
			= form_tag admin_index_path, method: :get, :html => {:class => ""} do |f|
				.input-group
					= text_field_tag :query, params[:query], :placeholder => "Buscar..", class: "form-control"
					%span.input-group-btn
						%button.btn.btn-default
							%i.fa.fa-search
	.row{ style: "margin-top:20px;"}
		.col-lg-9.col-xs-12
			%h2.title
				= @post.title
			%p.content
				= @post.content.html_safe
			.pull-right
				= "#{@post.created_at.strftime("%d %b. %Y")}, #{@post.user.name}"
		.col-lg-3.hidden-xs
			%a.twitter-timeline{ href:"https://twitter.com/PARCATUR", "data-widget-id"=>"#{InyxBlogRails.widget_twitter_id}", "data-chrome"=>"header" } Tweets por @PARCATUR

%script{ src: "//platform.twitter.com/widgets.js" }

