= content_for(:title, "Admin - Encuestas")
- if current_user.has_role? :admin
	.row{style:"margin-top: 50px; padding: 10px;"}
		.col-lg-4.col-md-6.col-sm-6
			.panel-info		
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-6{style:"z-index:1"}
						.number-info
							= Location.all.count
						.title-info
							Visitas
					.col-lg-6.col-md-6.col-sm-6.col-xs-6			
						.icon-info
							%i.fa.fa-eye
		.col-lg-4.col-md-6.col-sm-6
			.panel-info
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-6{style:"z-index:1"}
						.number-info
							= User.all.count
						.title-info
							Usuarios
					.col-lg-6.col-md-6.col-sm-6.col-xs-6			
						.icon-info
							%i.fa.fa-users

		.col-lg-4.col-md-6.col-sm-6
			.panel-info
				.row
					.col-lg-6.col-md-6.col-sm-6.col-xs-6{style:"z-index:1"}
						.number-info
							= DateTime.now.strftime("%d")
						.title-info
							= DateTime.now.strftime("%B")
					.col-lg-6.col-md-6.col-sm-6.col-xs-6			
						.icon-info
							%i.fa.fa-calendar
= render "nav_dashboard"
= render template: "inyx_poll_rails/polls/front_index"
