%head
	%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
	%title= content_for?(:title) ? yield(:title) : 'Cámara de comercio e industria de paraguaná'
	%meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Inyxmater Rails'}"}
	= stylesheet_link_tag 'frontend/application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'frontend/application', 'data-turbolinks-track' => true
	%link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,700,900", :rel => "stylesheet", :type => "text/css"}/

	%meta{:content => "Camara de Comercio e Industria de Paraguana - CACOINPAR - Gremio unificado para apoyar al empresario de Paraguana en el estado falcon, asociado a consecomercio y fedecaramas", :name => "description"}
	%meta{:content => "noodp,noydir", :name => "robots"}/
	%meta{:content => "summary", :property => "twitter:card"}/
	%meta{:content => "http://TWITTER.COM/cacoinpar", :property => "twitter:url"}/
	%meta{:content => "@CACOINPAR", :property => "twitter:site"}/
	%meta{:content => "es_ES", :property => "og:locale"}/
	%meta{:content => "article", :property => "og:type"}/
	%meta{:content => "Camara de Comercio e Industria de Paraguana", :property => "og:site_name"}/
	%title CAMARA DE COMERCIO E INDUSTRIA DE PARAGUANA - CACOINPAR
	= csrf_meta_tags
	= javascript_include_tag :cocoon
	= favicon_link_tag "frontend/favicon.png"

:javascript
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-62911805-1', 'auto');
	ga('send', 'pageview');