%nav.navbar.navbar-default#front-navbar.navbar-fixed-top
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = image_tag "frontend/home/logo.png", width: "30px", class: "Brand pull-left", style: "margin: 10px;"   
  .collapse.navbar-collapse
    %ul.nav.navbar-nav   
      = render 'layouts/frontend/navigation_links'


