-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default#front-navbar
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = image_tag "frontend/home/logo.png", width: "100px", style: "margin-top:8px; margin-left: 55px;"     
  .collapse.navbar-collapse
    %ul.nav.navbar-nav{ class: "#{'top-nav' if action_name == 'index'}"}   
      = render 'layouts/frontend/navigation_links'

.socials
  .ul.links-socials
    %li
      = link_to "https://twitter.com/cacoinpar", target:"_blank" do
        %i.fa.fa-twitter-square
    %li#facebook
      = link_to "https://www.facebook.com/CACOINPAR", target:"_blank" do
        %i.fa.fa-facebook-square
    %li
      = link_to "https://instagram.com/cacoinparaguana", target:"_blank" do
        %i.fa.fa-instagram

.reciclaje
  = image_tag "frontend/home/conciencia.jpg", width: "35px"
  %p Comprometidos con el medio ambiente

