%li
	= link_to "#{controller_name == 'frontend' ? '#home' : main_app.root_path(anchor: 'home')}" do
		INICIO
		
%li
	= link_to "#{controller_name == 'frontend' ? '#about' : main_app.root_path(anchor: 'about')}" do
		CACOINPAR
		
%li
	= link_to "#{controller_name == 'frontend' ? '#affiliate' : main_app.root_path(anchor: 'affiliate')}" do
		ALIADOS
		
%li{ class: "#{'current' if controller_name == 'posts' }" }
	= link_to '/blog/posts', class: "external" do
		NOTICIAS
		
%li{ class: "#{'current' if controller_name == 'catalogs' or controller_name == 'attachments'}" }
	= link_to "/catalogs", class: "external " do
		EVENTOS
		
%li
	= link_to "#{controller_name == 'frontend' ? '#contact_us' : main_app.root_path(anchor: 'contact_us')}" do
		CONTACTO