= simple_form_for(@poll) do |f|
  .container_form 
    .title_form
      Datos de la Encuesta
    .form-inyx
      = f.input :question, label: false, input_html: { class: 'form-control input-inyx', placeholder: "Pregunta" }
      = f.input :description, label: false, input_html: { class: 'form-control input-inyx', placeholder: "Descripción" }
      = f.input :category_id, label: false, collection: InyxPollRails::Category.all, include_blank: "- Añadir Categoría -", input_html: { class: "form-control input-inyx" }
      .row
        .col-md-6
          =f.input :date_init, as: :string, label: false, input_html: { class: 'form-control datepicker input-inyx', placeholder: "Fecha de Inicio", readonly: "readonly", value: Date.today }
        .col-md-6
          =f.input :date_end, as: :string, label: false, input_html: { class: 'form-control datepicker input-inyx', placeholder: "Fecha de Fin" , readonly: "readonly", value: Date.today }
      .row
        .col-md-4
          = f.input :multiple_answer, wrapper: :inline_checkbox, label: "¿Selecionar multiples respuestas?"
        .col-md-4
          = f.input :public, wrapper: :inline_checkbox, label: "¿Publicar?"
        .col-md-4
          = f.input :restricted, wrapper: :inline_checkbox, label: "¿Regstringir solo a usuarios registrados?"
      %label{ style: "margin-top:15px;"} Opciones de respuesta
      .error
        %center
          = @poll.errors.messages[:base_destroy_options].first if @poll.errors.messages[:base_destroy_options]
          = @poll.errors.messages[:base_option].first if @poll.errors.messages[:base_option]
      = f.simple_fields_for :options do |option|
        = render 'option_fields', f: option
      .links
        = link_to_add_association 'Agregar opción de respuesta', f, :options, class: "btn btn-default btn-sm pull-right", style: "margin-top:15px; margin-bottom:10px;"
        .clearfix
      
    .panel-footer
      .form-actions
        = f.button :submit, "Guardar", class: "pull-right btn submit-inyx"
      .clearfix
:javascript
  $('.datepicker').datepicker({
    dayViewHeaderFormat: 'YYYY',
    format: 'yyyy-mm-dd',
    startDate: 'm',
    autoclose: 'true',
    todayBtn: 'linked',
    language: 'es'
  })