.nested-fields{ style: "margin-top:15px;" }
	.input-group
		= f.input :answer, label: false, input_html: { class: "form-control", placeholder: 'Respuesta' }
		%span.input-group-btn
			= link_to_remove_association f, class: "btn submit-inyx", style: "color:white;" do
				%i.fa.fa-trash
