.container.polls{ style: "padding-top:70px;"}
	= render 'layouts/frontend/messages'
	- if @polls.empty?
		%center
			No hay encuestas disponibles
	- else
		- @polls.each do |poll|
			%h3= poll.question
			= link_to 'Votar', new_answers_path(poll.permalink) , class: "btn btn-default btn-sm pull-right", style: ""
			%small
				Valido desde: 
				= poll.date_init.strftime("%d %b %Y")
				Hasta:
				= poll.date_end.strftime("%d %b %Y")
			%hr	
