= content_for(:title, "Estadisticas")
%center
	%label{ style: "padding:30px; padding-bottom:10px; padding-top:70px;"}
		%h1= @poll.question
.container
	-if @poll.answers.first.nil?
		%center
			Aun no hay votos.
	- else 
		.row
			.col-lg-3.col-md-6.col-sm-6
				.panel-info		
					.row
						.col-lg-12.col-md-12.col-sm-12.col-xs-12{style:"z-index:1"}
							%center
								.number-info
									= @poll.answers.all.count
								.title-info
									Votos
			.col-lg-6.col-md-6.col-sm-6 
				.panel-info		
					.row
						.col-lg-12.col-md-12.col-sm-12.col-xs-12{style:"z-index:1"}
							%center
								.number-info
									= (@poll.answers.find_by option_id: (@poll.answers.group(:option_id).count.max.first)).option.answer
								.title-info
									Respuesta Ganadora
			.col-lg-3.col-md-6.col-sm-6
				.panel-info		
					.row
						.col-lg-12.col-md-12.col-sm-12.col-xs-12{style:"z-index:1"}
							%center
								.number-info
									= (@poll.date_end - Date.today).to_i
								.title-info
									Dias Restantes
			.col-lg-12.col-md-12.col-sm-12
				.panel-info2
					= column_chart @poll.answers.group(:option_id).count.transform_keys{ |k| @poll.options.find(k).answer }, discrete: true, library: { backgroundColor: "none",  hAxis: { title: 'Respuestas', titleTextStyle: { color: '#c0c0c0', italic: false }, textStyle: { color: '#c0c0c0' } }, vAxis: { title: 'Votos', titleTextStyle: { color: '#c0c0c0', italic: false }, textStyle: { color: '#c0c0c0' } }, colors: ['#F4DD5A'] }
			.col-lg-12.col-md-12.col-sm-12
				.panel-info2
					= area_chart @poll.answers.group_by_day(:created_at, format: "%F").count, discrete: true, library: { backgroundColor: "none",  hAxis: { title: 'Días', titleTextStyle: { color: '#c0c0c0', italic: false }, textStyle: { color: '#c0c0c0' } }, vAxis: { title: 'Votos', titleTextStyle: { color: '#c0c0c0', italic: false }, textStyle: { color: '#c0c0c0' } }, colors: ['#F4DD5A'] }
			- unless @poll.restricted		
				.col-lg-12.col-md-12.col-sm-12
					.panel-info2
						= pie_chart @poll.pie_chart_users, library: { backgroundColor: "none"}
