%nav.navbar.navbar-default#navbar-categories
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        - @categories.each do |category|
          %li.dropdown
            = link_to({ controller: "posts", action: "category_front", category_permalink: category.permalink }, class: "dropdown-toggle disabled", "aria-expanded" => "false", "data-toggle" => "dropdown", :role => "button") do
              = category.name
              %span.caret
            - unless category.subcategories.empty?
              %ul.dropdown-menu{:role => "menu"}
                - category.subcategories.each do |subcategory|
                  %li
                    = link_to subcategory.name, index_subcategory_posts_path(category.permalink, subcategory.permalink)
