#container-body
	#nav-bar.hidden-lg.hidden-md.hidden-sm
		= render 'layouts/frontend/navigation2'
	.events
		%h1.title EVENTOS
		.message
			Entérate de nuestras actividades.
		.row{ style: "margin:0px;"}
			- @catalogs.each do |catalog| 
				.col-lg-6.col-md-6.col-sm-6
					.event
						.thumbnail
							%img{:alt => "", :src => "#{catalog.cover}"}
								.caption
									%h4 
										= catalog.name
									.more
										= link_to "Ver más", "/catalogs/#{catalog.permalink}/attachments", class: "btn btn-affiliate"
		.paginatior{ style: "text-align:center; "}
			= paginate @catalogs
		#footer{ style: "margin-top:20px;"}
			= render "frontend/footer"