= content_for(:title, "Nueva respuesta - #{@poll.question}")
.answer
	= render 'layouts/frontend/messages'
	.panel.panel-default{ style: "margin-top:10px;"}
		.panel-heading{style:"padding-top:5px; background:#334c96; color:white;"}
			%center
				%h2= @poll.question
		= form_tag answers_path, method: :post do
			.panel-body
				- @poll.options.each do |option|
					.col-lg-3.col-md-3.col-sm-3.col-xs-12#content-answer
						= @poll.multiple_answer ? check_box_tag("answer[answers][]", option.id) : radio_button_tag("answer[answers][]", option.id)
						%label= option.answer
			.panel-footer
				.form-actions	
					= submit_tag "Guardar", class: "pull-right btn btn-warning submit-inyx"
					.clearfix