= simple_form_for(@category) do |f|
  .container_form 
    .title_form
      Datos de categoría
    .form-inyx
      = f.input :name, label:false, input_html: { class: "form-control input-inyx", placeholder: "Nombre de categoría" }
      %br/
      = f.simple_fields_for :subcategories do |c|
        = render 'subcategory_fields', :f => c
      .links
        = link_to_add_association 'Añadir subcategoría', f, :subcategories, class: "btn btn-default btn-sm pull-right", style: "margin-bottom:10px;"
        .clearfix
    .panel-footer
      = f.submit 'Guardar', class: "btn submit-inyx pull-right"
      .clearfix
