.blog {
	margin-top: 100px;
	.preview-post {
		border-bottom: #ddd 1px solid;
		padding-bottom: 60px;
		margin-bottom: 60px;

		.content-post {
			padding: 10px 0;
			line-height: 22px;
			margin: 0 0 0px;
		}
	}

	.search {
		border: 0;
		padding: 10px;
		width: 100%;
		height: 38px;
		background-color: rgba(0,0,0,0.1);
	}

	.search:focus {
		outline: none;
	}

	.widget {
		margin-bottom: 60px;

		.categories {
			.active {
				background-color: #E4E4E4;
			}
			li a:hover {
				background-color: #E4E4E4;
			} 
		}

		.tags {
			.active {
				background-color: #B4B4B4;
			}
		}

		h4 {
			letter-spacing: normal;
			line-height: 27px;
			margin: 0 0 14px 0;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				margin-bottom: 6px;
			}

			a {
				color: black;
				text-decoration: none;
			}
		}

		a.tag {
			background-color: #E4E4E4;
			padding-top: 6px;
			padding-bottom: 6px;
			margin-bottom: 6px;
			color: black;
		}

		.nav-list {
			li a{
				color: black;
			}
		}

		.datetime {
			color: #999;
			font-size: 12px;
		}

		.label-default {
			border: 1px solid #CCC;
			padding: 0.3em 0.7em 0.4em;
		}

		.label {
			font-weight: normal;
			padding: 0.4em 0.8em 0.5em;
			display: inline-block;
		}
	}

	.date {
		text-align: center;
		font-size: 60px;
		display: inline-block;
		line-height: 65px;
		color: #313131;

		small {
			text-transform: uppercase;
			display: block;
			font-size: 14px;
			line-height: 20px;
		}
	}

	.info {
		border-top: #ddd 1px solid;
		display: block;
		margin-top: 20px;
		padding-top: 20px;
		font-size: 11px;
		color: #333;

		.block {
			display: block !important;
			margin-bottom: 10px;
		}

		a { 
			color: #888;
		}
	}

	.navbar-nav li.active {
		background-color: #E4E4E4;
	}
	.navbar-nav	li a:hover {
		background-color: #E4E4E4;
	}

	.dropdown:hover .dropdown-menu {
    display: block;
 	}
	
}

/*iframes youtube responsive*/
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
  margin-bottom: 10px;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}