.container{ style: "margin-top:70px" }
	= render 'layouts/frontend/messages'
	.panel.panel-default
		.panel-heading{style:"padding-top:5px"}
			%center
				%h2= @poll.question
		= form_tag answers_path, method: :post do
			.panel-body
				- @poll.options.each do |option|
					.col-md-6{style:"padding:10px"}
						= @poll.multiple_answer ? check_box_tag("answer[answers][]", option.id) : radio_button_tag("answer[answers][]", option.id)
						%label= option.answer
			.panel-footer		
				= link_to 'Volver', front_index_path , class: "btn btn-default btn-sm pull-left"
				= submit_tag "Guardar", class: "btn btn-warning btn-sm pull-right"
				.clearfix