.nested-fields#nested
	.col-lg-6
		= f.input :address, label: false, input_html: { class: 'form-control input-inyx',  placeholder: "Direccion sucursal" }
	.col-lg-6
		= f.input :phone, label: false, input_html: { class: 'form-control input-inyx',  placeholder: "Telefono sucursal" }
	= link_to_remove_association "<i class='fa fa-trash-o'></i>".html_safe, f, class: "btn btn-primary", id:"btn"