.nested-fields#nested
	= link_to_remove_association "<i class='fa fa-trash-o'></i>".html_safe, f, class: "btn btn-primary",id: "btn"
	.row
		.col-lg-4
			= f.input :contact, label: false, input_html: { class: 'form-control input-inyx',  placeholder: "Contacto" }
		.col-lg-4
			= f.input :charge, label: false, input_html: { class: 'form-control input-inyx',  placeholder: "Cargo" }
		.col-lg-4
			= f.input :phone, label: false, input_html: { class: 'form-control input-inyx',  placeholder: "Telefono" }
		