= simple_form_for(@affiliate) do |f|
	.container-form
		.form-inputs#form
			.panel.panel-default#margin
				.panel-heading DATOS DE LA EMPRESA SOLICITANTE
				.panel-body
					.row{style:"width:100%; margin: 0px;"}
						.col-lg-12{style:"padding-top: 10px;"}
							- if action_name == 'edit' and current_user.has_role? :admin
								- if @affiliate.status == "Aprobado"
									= f.input :status, collection: [('Aprobado'), ('Anulado')], label: false, include_blank:"- Estado de solicitud -", input_html: { class: 'form-control input-inyx'}
								- else
									= f.input :status, collection: [('Pendiente'), ('Aprobado'), ('Anulado')], label: false, include_blank:"- Estado de solicitud -", input_html: { class: 'form-control input-inyx'}
								= f.input :show_lading, wrapper: :inline_checkbox, label: "Mostrar en la pantalla principal"
						.col-lg-12{style:"padding-top: 10px;"}
							= f.input :name, label: false, input_html: { class: 'form-control input-inyx disabled_true',  placeholder: "Razon social de la empresa"}
						
						.col-lg-12
							= f.input :date_construction, label: false, input_html: { class: 'form-control input-inyx datepicker disabled_true',  placeholder: "Fecha de constitucion"}
						.col-lg-12
							= f.input :rif, label: false, input_html: { class: 'form-control input-inyx disabled_true',  placeholder: "RIF" }
						.col-lg-12
							- if action_name == 'edit' or action_name == 'update'
								= f.input :township_construction, label: false, input_html: { class: 'form-control input-inyx',  placeholder: "Municipio de constitucion" }
						.col-lg-12
							= f.input :adress, label: false, input_html: { class: 'form-control input-inyx disabled_true',  placeholder: "Direccion fiscal" }
						.col-lg-12
							= f.input :email_company, label: false, input_html: { class: 'form-control input-inyx disabled_true',  placeholder: "Email de la empresa" }
						.col-lg-12
							= f.input :phone, label: false, input_html: { class: 'form-control input-inyx disabled_true',  placeholder: "Telefono principal" }


					- if action_name == 'edit' or action_name == 'update' 

						.col-lg-12
							= f.input :mobile, label: false, input_html: { class: 'form-control input-inyx',  placeholder: "Nro. Teléfono móvil"}
						.col-lg-12
							= f.input :fax, label: false, input_html: { class: 'form-control input-inyx',  placeholder: "Nro. de fax"}
						.col-lg-12
							= f.input :twitter, label: false, input_html: { class: 'form-control input-inyx', placeholder: "Twitter"}
						.col-lg-12
							= f.input :facebook, label: false, input_html: { class: 'form-control input-inyx', placeholder: "Facebook"}
						.col-lg-12
							= f.input :instagram, label: false, input_html: { class: 'form-control input-inyx',  placeholder: "Instagram" }
						.col-lg-12
							= f.input :organization, label: false, input_html: { class: 'form-control input-inyx',  placeholder: "Otras asociaciones a las que pertenece" }
						.col-lg-12
							= f.input :services, label: false, input_html: { class: 'form-control input-inyx',  placeholder: "Servicios que presta la empresa "}


			.panel.panel-default#margin
				.panel-heading DATOS REPRESENTANTE LEGAL
				.panel-body
					.col-lg-12
						= f.input :names, label: false, input_html: { class: 'form-control input-inyx disabled_true',  placeholder: "Nombre y apellido"}
					.col-lg-12
						= f.input :whit_representante, label: false, input_html: { class: 'form-control input-inyx disabled_true',  placeholder: "Cedula/Pasaporte"}
					.col-lg-12
						= f.input :charges, label: false, input_html: { class: 'form-control input-inyx disabled_true',  placeholder: "Cargo"}
					.col-lg-12
						= f.input :email, label: false, input_html: { class: 'form-control input-inyx disabled_true',  placeholder: "Correo electronico"}
					- if action_name == 'edit' or action_name == 'update'
						.col-lg-12
							= f.input :phone_representante, label: false, input_html: { class: 'form-control input-inyx disabled_true',  placeholder: "Nro. Teléfono fijo"}
						.col-lg-12
							= f.input :mobile_representante, label: false, input_html: { class: 'form-control input-inyx',  placeholder: "Nro. Teléfono movil"}

			.panel.panel-default#margin
				.panel-heading 
					Datos de socio(s) de la empresa
					%span.error-partners
						= " - #{@affiliate.errors.messages[:partners].first}" if @affiliate.errors.messages[:partners]
				.panel-body
					.relations	
						.box#partner
							= f.simple_fields_for :partners do |partner|
								= render 'partner_fields', :f => partner
							.links.pull-right
								= link_to_add_association 'Agregar socio', f, :partners

			.panel.panel-default#margin
				.panel-heading 
					Datos de contacto de la empresa
					%span.error-partners
						= "- #{@affiliate.errors.messages[:contacts].first}" if @affiliate.errors.messages[:contacts]
				.panel-body
					.relations
						.box#contacts
							= f.simple_fields_for :contacts do |contact|
								= render 'contact_fields', :f => contact
							.links.pull-right
								= link_to_add_association 'Agregar contacto', f, :contacts

			.panel.panel-default#margin
				.panel-heading Documentos adjuntos
				.panel-body
					.form-inputs#files
						.row{style:"width:100%; margin: 0px;"}
							%center
							.col-lg-4
								= f.input :acta, label: "Acta constitutiva", input_html: {  type:"file", class: 'form-control input-inyx',  placeholder: "Acta constitutiva", id: "input-20" }
								%p.color-legend PDF 2MB
							.col-lg-4
								= f.input :image_rif, label: "RIF", input_html: { type:"file", class: 'form-control input-inyx',  placeholder: "RIF", id: "input-21" }
								%p.color-legend JPG, JPEG, GIF, PNG y PDF 500KB
							.col-lg-4
								= f.input :logo, label: "Logo de la empresa", input_html: { type:"file", class: 'form-control input-inyx',  placeholder: "Logo de la empresa", id: "input-22" }
								%p.color-legend JPG, JPEG, GIF, PNG 500KB

			- if action_name == 'edit' or action_name == 'update'
				= f.button :submit,"Actualizar afiliacion", id:"save", class: "btn btn-primary"						
			- else
				= f.button :submit,"Enviar solicitud de afiliacion", id:"save", class: "btn btn-primary"


- if (action_name == 'edit' or action_name == 'update') and current_user.has_role? :afiliado
	:javascript
		$('.disabled_true').attr("disabled", true);
-	else
	:javascript
		$(".disabled_true").removeClass("disabled_true")



:javascript

	$('.datepicker').datepicker({
		format: 'dd-mm-yyyy',
		autoclose: true,
		language: 'es'
	})

	$(function(){
		$('form').submit(function(){
			$(':submit').attr('disabled', 'disabled');
		})
	});

- if action_name == "update" or action_name == "edit"
	:javascript
		$("#input-20").fileinput({
			browseClass: "btn btn-primary btn-block",
			showCaption: true,
			captionIcon: '<i class="fa fa-folder-open"></i>',
			showRemove: false,
			showUpload: false,
			browseIcon: '<i class="fa fa-folder-open"></i>',
			browseLabel: ' Subir documentos',	
			initialPreview: ['"#{image_tag @affiliate.acta, class: 'file-preview-image' if !@affiliate.acta.blank?}"']
		});

		$("#input-21").fileinput({
			browseClass: "btn btn-primary btn-block",
			showCaption: true,
			captionIcon: '<i class="fa fa-folder-open"></i>',
			showRemove: false,
			showUpload: false,
			browseIcon: '<i class="fa fa-folder-open"></i>',
			browseLabel: ' Subir documentos',
			initialPreview: ['"#{image_tag @affiliate.image_rif, class: 'file-preview-image' if !@affiliate.image_rif.blank?}"']
		});

		$("#input-22").fileinput({
			browseClass: "btn btn-primary btn-block",
			showCaption: true,
			captionIcon: '<i class="fa fa-folder-open"></i>',
			showRemove: false,
			showUpload: false,
			browseIcon: '<i class="fa fa-folder-open"></i>',
			browseLabel: ' Subir documentos',
			initialPreview: ['"#{image_tag @affiliate.logo, class: 'file-preview-image' if !@affiliate.logo.blank?}"']
		});

