.nested-fields#nested
	= link_to_remove_association "<i class='fa fa-trash-o'></i>".html_safe, f, class: "btn btn-primary", id: "btn"
	.row
		.col-lg-4
			= f.input :manes, label: false, input_html: { class: 'form-control input-inyx',  placeholder: "Nombres y apellidos" }
		.col-lg-4
			= f.input :writ, label: false, input_html: { class: 'form-control input-inyx',  placeholder: "Cedula/Pasaporte" }
		.col-lg-4
			= f.input :nationality, label: false, input_html: { class: 'form-control input-inyx',  placeholder: "Nacionalidad" }
