.nested-fields#nested
	.col-lg-3
		= f.input :manes, label: false, input_html: { class: 'form-control input-inyx',  placeholder: "Nombres y Apellidos" }
	.col-lg-3
		= f.input :writ, label: false, input_html: { class: 'form-control input-inyx',  placeholder: "Cedula de identidad" }
	.col-lg-3
		= f.input :phone, label: false, input_html: { class: 'form-control input-inyx',  placeholder: "Telefono" }
	.col-lg-3
		= f.input :email, label: false, input_html: { class: 'form-control input-inyx',  placeholder: "Correo electronico" }
	= link_to_remove_association "<i class='fa fa-trash-o'></i>".html_safe, f, class: "btn btn-primary", id:"btn"

	
	
	
