%div{ 'ng-init'=>"init(#{@objects.to_json}, '/admin/affiliates', '#{params[:search]}', #{@total_rows}, #{Kaminari.config.default_per_page})", "resize" => "" }
  .grid-content
    .col-lg-9.col-md-9{ style: "padding:0px;" } 
      .list-wrapper
        .panel.panel-default
          - flash.each do |name, msg|
            - if msg.is_a?(String)
              %div{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'} pull-right", id: "message_alerts"}
                %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
                = content_tag :div, msg, :id => "flash_#{name}"
          .panel-heading#list-heading            
            %a.btn.btn-default.btn-action{"ng-click" => "refresh()", "ng-disabled" => "pagesItemsSelected[currentPageServer].length != 0", :title => t("admin.buttons.refresh") }
              %i.fa.fa-refresh#icon-refresh{'ng-show'=>"!loadingRefresh"}
              %i.fa.fa-refresh.fa-spin{'ng-show'=>"loadingRefresh"}
            
            %a.btn.btn-default.btn-action{"ng-show" => "objects.length", "ng-click" => "allSelected(objects)", :title => t("admin.buttons.select_all") }
              %i.fa.fa-square-o{"ng-show" => "!btnDelete"}
              %i.fa.fa-check-square-o{ "ng-show" => "btnDelete" } 
            %a.btn.btn-default.btn-action#btn-delete{ "ng-show" => "btnDelete", "ng-click" => "destroy('¿Estas seguro de querer eliminar los mensajes seleccionados?')", :title => t("admin.buttons.trash") }
              %i.fa.fa-circle-o-notch.fa-spin{ 'ng-show' => "loadingDelete" }
              %i.fa.fa-trash-o{ 'ng-show' => "!loadingDelete" }
         
            .paginator.pull-right{ "ng-show" => "objects.length > 0"}
              %button.btn.btn-default.pull-right.hidden-xs{'disabled'=>"", style:"color:#000; margin-left:3px;"}
                Página {{currentPage+1}} de {{numberOfPages()}}
              %a.btn.btn-default.pull-right.next{ "ng-disabled"=>"currentPage >= total_objects/pageSize - 1 || loadingNext", "ng-click"=>"next()", style: "margin-left:3px" }
                %i.fa.fa-circle-o-notch.fa-spin{ 'ng-show' => "loadingNext" }
                %i.fa.fa-arrow-right{ 'ng-show' => "!loadingNext" }
              %a.btn.btn-default.pull-right.last{'ng-disabled'=>"currentPage == 0 || loadingLast", "ng-click"=>"last()"}
                %i.fa.fa-circle-o-notch.fa-spin{ 'ng-show' => "loadingLast" }
                %i.fa.fa-arrow-left{ 'ng-show' => "!loadingLast" }
          .panel-body{ style: "border-right: 1px solid #e7e7e7;" }
            #table-scroll
              %table.grid{style: "width:100%" }
                %tbody
                  %tr{ class: "select-{{object.checked}}", "ng-click" => "show_object(object);read(object);", :id => "row-{{object.id}}", "ng-repeat" => "object in objects | startFrom:currentPage*pageSize | limitTo:pageSize"}
                    %td{ width: "1px;" }
                      .checkboxFour
                        %input.checkboxFourInput{:id => "check-{{object.id}}", :type => "checkbox", "ng-model" => "object.checked", "ng-click" => "selected(object); $event.stopPorpagation();" }
                        %label{ for: "check-{{object.id}}" }
                          %span
                    %td 
                      %i.fa.fa-file-text-o{'ng-show'=>"!object.read"}
                      %i.fa.fa-file-text-o{'ng-show'=>"object.read"}
                    %td {{ object.name }}
                    %td {{ object.names}}
                    %td {{ object.phone}}
                    %td {{ object.status}}
                    %td {{ object.created_at | date: "dd/MM/yyyy"}}
                                 
                  %tr{"ng-show" => "!objects.length"}
                    %td{:style => "width:100%"}
                      %center
                        %i.fa.fa-frown-o
                        No hay Afiliados.
      
    .col-lg-3.col-md-3{ style: "padding:0px;"}
      .show-wrapper
        .show-head
        .show-body
          .panel.panel-default
            .panel-heading{ style: "height:55px;" }
              .actions{ "ng-show" => "object_data" }
                .title.pull-left{ style: "margin-top:6px;" }
                  %i.fa.fa-file-text-o
                  Afiliado - {{ object_data.id }}
                = link_to "{{destroy_path(object_data.id)}}", title: t('admin.actions.delete'), :method => :delete, :data => { :confirm => '¿Estas seguro de querer eliminar este mensaje?' }, class: "btn btn-default btn-action pull-right", "ng-show" => "object_data" do
                  %i.fa.fa-remove 
                = link_to "{{edit_path(object_data.id)}}", title: t('admin.actions.edit'), class: "btn btn-default btn-action pull-right", "ng-show" => "object_data", style: "margin-right:3px;" do
                  %i.fa.fa-pencil
                = link_to "/admin/affiliates/{{object_data.id}}", title: "Ver detallado", class: "btn btn-default btn-action pull-right", "ng-show" => "object_data", style: "margin-right:3px;" do
                  %i.fa.fa-eye         
              .actions{ "ng-show" => "!object_data", style: "margin-top:6px; margin-left: 6px;" }
                %i.fa.fa-file-text-o
                Afiliados
            .panel-body
              .data{ style: "height: {{windowHeight-104}}px;" }
                %img{"ng-show" => "object_data.logo", "ng-src" => "{{object_data.logo.url}}"}
                .attributes{ "ng-show" => "object_data" }
                  %br
                  %label Status: 
                  {{object_data.status}}
                  %br
                  %label Razon social: 
                  {{object_data.name}}
                  %br
                  %label Fecha de constitucion: 
                  {{object_data.date_construction}}
                  %br
                  %label RIF: 
                  {{object_data.rif}}
                  %br
                  %label Municipio: 
                  {{object_data.township_construction}}
                  %br
                  %label Direccion fiscal: 
                  {{object_data.adress}}
                  %br
                  %label Correo de la empresa: 
                  {{object_data.email_company}}
                  %br
                  %label Telefono: 
                  {{object_data.phone}}
                  %p{align: "justify"}
                    {{object_data.content}}                  
                  %br/                  
                .attributes{ "ng-show" => "!object_data"}
                  %center
                    No se ha seleccionado un afiliado para mostrar.
        .show-footer
