.container-fluid
	.row
		.col-lg-12.col-md-12.col-sm-12.col-xs-12
			.container_form{style:"margin-top: 60px !important;"}  
				.title_form
					Datos del afiliado
				.form-inyx
					%ul.list-group 
						%li.list-group-item
							%strong Status:
							= @affiliate.status
						%li.list-group-item
							%strong Razon social de la empresa:
							= @affiliate.name
						%li.list-group-item
							%strong Fecha de constitución:
							= @affiliate.date_construction 
						%li.list-group-item
							%strong Siglas:
							= @affiliate.acronym
						%li.list-group-item
							%strong RIF:
							= @affiliate.rif
						%li.list-group-item
							%strong Municipio:
							= @affiliate.township_construction
						%li.list-group-item
							%strong Direccion fiscal:
							= @affiliate.adress
						%li.list-group-item
							%strong Email:
							= @affiliate.email_company
						%li.list-group-item
							%strong Nro. Teléfono fijo:
							= @affiliate.phone
						%li.list-group-item
							%strong Nro. Teléfono móvil:
							= @affiliate.mobile
						%li.list-group-item
							%strong Nro. Fax:
							= @affiliate.fax 
						%li.list-group-item
							%strong Twitter:
							= @affiliate.twitter
						%li.list-group-item
							%strong Facebook:
							= @affiliate.facebook
						%li.list-group-item
							%strong Instagram:
							= @affiliate.instagram
						%li.list-group-item
							%strong Otras asociaciones a las que pertenece:
							= @affiliate.organization 
						%li.list-group-item
							%strong Servicios que presta la empresa:
							= @affiliate.services                            
 

			.container_form{style:"margin-top: 20px;"} 
				.title_form
					Datos de Representante
				.form-inyx
					%ul.list-group 
						%li.list-group-item
							%strong Nombre y Apellido:
							= @affiliate.names
						%li.list-group-item
							%strong Cargo:
							= @affiliate.charges
						%li.list-group-item
							%strong Correo electrónico:
							= @affiliate.email 
						%li.list-group-item
							%strong Nro. Teléfono fijo:
							= @affiliate.phone_representante
						%li.list-group-item
							%strong Nro Teléfono móvil:
							= @affiliate.mobile_representante

			.container_form{style:"margin-top: 20px;"} 
				.title_form
					Documentos adjuntos
				.form-inyx
					%ul.list-group 
						%li.list-group-item
							%strong Acta constitutiva:
							= link_to "Descargar ACTA CONSTITUTIVA", download_attachment_affiliates_path(@affiliate, "acta")
						%li.list-group-item
							%strong RIF:
							= link_to "Descargar RIF", download_attachment_affiliates_path(@affiliate, "image_rif")
						%li.list-group-item
							%strong Logo:  
							= link_to "Descargar Logo", download_attachment_affiliates_path(@affiliate, "logo")
						

		.col-lg-12.col-md-12.col-sm-12.col-xs-12
			.container_form{style:"margin-top: 20px;"}  
				.title_form
					Datos de los socios
				.form-inyx
					%ul.list-group 
						- @affiliate.partners.each do |partner|  
							%li.list-group-item
								%strong Nombres y apellidos:
								= partner.manes
							%li.list-group-item
								%strong Cedula/Pasaporte:
								= partner.writ
							%li.list-group-item
								%strong Nacionalidad:
								= partner.nationality
							%br


		.col-lg-12.col-md-12.col-sm-12.col-xs-12
			.container_form{style:"margin-top: 20px !important;"}  
				.title_form
					Contacto
				.form-inyx
					%ul.list-group 
						- @affiliate.contacts.each do |contact|  
							%li.list-group-item
								%strong Contacto:
								= contact.contact
							%li.list-group-item
								%strong Cargo:
								= contact.charge
							%li.list-group-item
								%strong Telefono:
								= contact.phone
							%br
							  