.polls{ style: "padding-top:10px;"}
	= render 'layouts/frontend/messages'
	- if @polls.empty?
		%center
			No hay encuestas disponibles
	- else
		- @polls.each do |poll|
			.poll
				.row
					.col-lg-10
						%h3= poll.question
						%small
							Valido desde: 
							= poll.date_init.strftime("%d %b %Y")
							Hasta:
							= poll.date_end.strftime("%d %b %Y")
					.col-lg-2
						- if poll.vote? current_user 
							= link_to 'Responder encuesta', "/admin/polls/#{poll.permalink}/answers/new" , class: "btn btn-default btn-sm", id: "btn-answer"
						- else
							= link_to 'Ya has respondido', "/admin/polls/#{poll.permalink}/answers/new" , class: "btn btn-danger btn-sm", id: "btn-answer", style: "color:white;"
	.center{ style: "text-align:center"}
		= paginate @polls