= content_for(:title, "Admin - Encuestas | #{@poll.question}")
- flash.each do |name, msg|
  - if msg.is_a?(String)
    %div.hidden-xs{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}", id:"message_alerts"}
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      = content_tag :div, msg, :id => "flash_#{name}"
%div
  .panel.panel-default{style:"margin-top:50px"}
    .panel-heading#heading-show{style:"padding-top:5px"}
      .actions
        .title.pull-left{ style: "margin-top:8px;" }
          %i.fa.fa-tags
          Encuesta - 
          = @poll.id
        - if can? :destroy, User
          = link_to poll_path(@poll), title: t('admin.actions.delete'), :method => :delete, :data => { :confirm => '¿Estas seguro de querer eliminar esta Encuesta?' }, class: "btn btn-default btn-action pull-right" do
            %i.fa.fa-remove
        - if can? :edit, User
          = link_to  edit_poll_path(@poll), title: t('admin.actions.edit'), class: "btn btn-default btn-action pull-right", style: "margin-right:3px;" do
            %i.fa.fa-pencil   

    .panel-body#body-show
      %label Pregunta
      = @poll.question
      %br/
      %label Descripción
      = @poll.description
      %br/
      %label Categoría
      = @poll.category.name
      %br/
      %label Fecha de Inicio
      = @poll.date_init
      %br/
      %label Fecha de Fin
      = @poll.date_end
      %br/
      %label Publicado
      = @poll.public
      %br/
      %label Restringido
      = @poll.restricted
      %br/
      %label Multiples Respuestas
      = @poll.multiple_answer
      %br/
      %label Opciones:
      %p
        - @poll.options.each do |option|
          = option.answer
          %br