= content_for(:title, "Blog - #{@post.title}")
= content_for(:description, strip_tags(@post.content).truncate(180))
.row.blog{'ng-controller'=>'frontIndexCtrl', 'ng-init'=>"init(#{@post.to_json})"}

	= render "layouts/inyx_blog_rails/blog/navbar_categories"
	.buscador.hidden-lg
		= render "inyx_blog_rails/posts/widgets/search"
	= render "layouts/inyx_blog_rails/blog/post"
	.sidebar-mobil.hidden-xs
		= render "layouts/inyx_blog_rails/blog/sidebar_left"
#footer
	= render "frontend/footer"
