= content_for(:title, "Admin - Post | #{@post.title}")

%div#show-mobile-post
	= render "layouts/admin/messages"
	.panel.panel-default{style:"margin-top:50px"}
		.panel-heading#heading-show{ style: "padding-top:5px;"}
			.actions
				.title.pull-left{ style: "margin-top:8px;" }
					%i.fa.fa-pencil
					Post - 
					= @post.id
				- if can? :destroy, InyxBlogRails::Post
					= link_to post_path(@post), title: t('admin.actions.delete'), :method => :delete, :data => { :confirm => '¿Estas seguro de querer eliminar este usuario?' }, class: "btn btn-default btn-action pull-right" do
						%i.fa.fa-remove
				- if can? :edit, InyxBlogRails::Post
					= link_to edit_post_path(@post), title: t('admin.actions.edit'), class: "btn btn-default btn-action pull-right", style: "margin-right:3px;" do
						%i.fa.fa-pencil		
		
		- unless @post.image.blank?
			= image_tag @post.image, style: "width:100%", class: "hidden-lg hidden-md"
			= image_tag @post.image, style: "width:50%; margin-top:10px; margin-bottom:0px;", class: "thumbnail hidden-xs hidden-sm"
		- else
			%center{ style: "margin-top: 10px;" }
				%p{ style: "margin-bottom:0px;"} Sin imagen
		.panel-body#body-show
			%label= t('post.title')+': '
			= @post.title.humanize
			%br/
			%label= t('post.autor')+': '
			= @post.user.name
			%br/
			%label= t('post.category')+': '
			= @post.category.name
			%br/
			%label= t('post.subcategory')+': '
			= @post.subcategory.nil? ? "Sin subcategoría" : @post.subcategory.name
			%br/
			%label= t('post.permalink')+': '
			= @post.permalink
			%br/
			.panel.panel-warning{ style: 'margin-top:10px; padding: 10px; border-color: #4758d3; border-radius:0px;'}
				.panel-body
					= raw @post.content
			.row{ style: 'margin: 0px; margin-top:10px;'}
				.col-lg-3.col-md-3.col-sm-12
					%label= t('post.public')+': '
					= @post.public ? "<i class='fa fa-check-circle' style='color:#FFBA3D; font-size:20px;'></i>".html_safe : "<i class='fa fa-minus-circle' style='color:#d9534f; font-size:20px;'></i>".html_safe
				.col-lg-3.col-md-3.col-sm-12
					%label= t('post.comments_open')+': '
					= @post.comments_open ? "<i class='fa fa-check-circle' style='color:#FFBA3D; font-size:20px;'></i>".html_safe : "<i class='fa fa-minus-circle' style='color:#d9534f; font-size:20px;'></i>".html_safe
				.col-lg-3.col-md-3.col-sm-12
					%label ¿Publicar solo a los afiliados?
					= @post.likes_enabled ? "<i class='fa fa-check-circle' style='color:#FFBA3D; font-size:20px;'></i>".html_safe : "<i class='fa fa-minus-circle' style='color:#d9534f; font-size:20px;'></i>".html_safe
				.col-lg-3.col-md-3.col-sm-12
					%label= t('post.shared_enabled')+': '
					= @post.shared_enabled ? "<i class='fa fa-check-circle' style='color:#FFBA3D; font-size:20px;'></i>".html_safe : "<i class='fa fa-minus-circle' style='color:#d9534f; font-size:20px;'></i>".html_safe
			%br/
			%label= t('post.tags')+': '
			- @post.tag_list.each do |tag|
				%span.label-tag= tag
