= content_for(:title, "Blog - #{params[:permalink].humanize.gsub("-", " ")}")
.row.blog{'ng-controller'=>'frontIndexCtrl', 'ng-init'=>"init(#{@posts.to_json})" }
	= render "layouts/inyx_blog_rails/blog/navbar_categories"
	.buscador.hidden-lg
		= render "inyx_blog_rails/posts/widgets/search"
	= render "layouts/inyx_blog_rails/blog/posts_list"
	.sidebar-mobil.hidden-xs
		= render "layouts/inyx_blog_rails/blog/sidebar_left"