.widget.hidden-xs
	.panel.panel-default
		.panel-heading
			%h3.panel-title CATEGORÍAS
		.panel-body
			%ul.nav.nav-list.categories
				%li{ class: "#{'active' if action_name == 'index_front'}" }
					= link_to index_front_posts_path do
						%i.fa.fa-angle-right
						Todas	
				- InyxBlogRails::Category.all.each do |category|
					%li{ class: "#{'active' if category.permalink == params[:category_permalink]}" }
						= link_to controller: "posts", action: "category_front", category_permalink: category.permalink do
							%i.fa.fa-angle-right
							= category.name	