.widget.hidden-xs
	.panel.panel-default
		.panel-heading
			%h3.panel-title RECIENTES
		.panel-body
			%ul.ul-recents
				- @recents.each do |recent|
					%li
						= link_to "/blog/posts/#{recent.permalink}" do
							%i.fa.fa-sign-out
							= recent.title
						.datetime
							%small= recent.created_at.strftime("%d %b. %Y / %H:%M")				