.widget.hidden-xs
	%a.twitter-timeline{ href:"https://twitter.com/PARCATUR", "data-widget-id"=>"#{InyxBlogRails.widget_twitter_id}", "data-chrome"=>"header" } Tweets por @PARCATUR
	%script{ src: "//platform.twitter.com/widgets.js" }