.col-lg-9.col-md-9.col-sm-9.col-xs-12
	.post
		.preview-post.row{ "ng-if" => "posts.publicate == true"}
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				
				.image-post{ "ng-if" => "posts.image" }
					%img.thumbnail{ "ng-src" => "{{posts.image}}", alt: "{{posts.title}}", title: "{{posts.title}}" }
				%h4.title-post
					= link_to "{{ posts.title | uppercase }}", "/blog/posts/{{post.permalink}}"
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					%span.date
						{{posts.day}}
					%small
						{{posts.created_at}},
					%span.block
						%i.fa.fa-user
						POR
						= link_to "{{posts.autor | uppercase}}", "/blog/autor/{{posts.autor_permalink}}/posts"
				.content-post{ "ng-bind-html" => "content_html(posts.content)", style: "text-align:justify;"}
				.row.socials{ "ng-if" => "posts.shared_enabled == true", style: "padding-left:15px;" }
					.g-plus{"data-action"=>"share", "data-annotation"=>"bubble"}
					= link_to "Twittear", "https://twitter.com/share", class: "twitter-share-button", "data-lang" => "es", "data-text" => "#Cacoinpar #{@post.title}", "data-url" => "#{request.url}", "data-via" => "cacoinpar"
					.fb-share-button{ "data-href" => "#{request.url}", "data-layout" => "button_count", style: "top:-9px;" }
				.comments{ "ng-if" => "posts.comments_open == true", style: "margin-top:60px;" }
					#fb-root{ style: "margin-bottom:15px;"}
						.fb-comments{ 'data-href' => "#{request.url}",  'data-numposts' => "8", 'data-colorscheme' => "light", "data-width" => "100%" }


%script{ src:"//platform.twitter.com/widgets.js" }

- if @post.shared_enabled

	:javascript
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
		
		//facebook share
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));

		//google+ share
		window.___gcfg = {lang: 'es'};

		(function() {
			var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			po.src = 'https://apis.google.com/js/platform.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		})();

		//chat-comment-facebook
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.0";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));