.col-lg-9.col-md-9.col-sm-9.col-xs-12
	%p{ "ng-if" => "posts.length == 0", style: "text-align:center;" } 
		No hay posts
	.post{ "ng-repeat" => "post in posts" }
		.preview-post.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.image-post{ "ng-if" => "post.image" }
					%img.thumbnail{ "ng-src" => "{{post.image}}", alt: "{{post.title}}", title: "{{post.title}}" }
				%h4.title-post
					= link_to "{{ post.title | uppercase }}", "/blog/posts/{{post.permalink}}"
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					%span.date
						{{post.day}}
					%small
						{{post.created_at}},
						%span.block
							%i.fa.fa-user
							POR
							= link_to "{{post.autor | uppercase}}", "/blog/autor/{{post.autor_permalink}}/posts"
				.content-post{ "ng-bind-html" => "content_html(post.content_truncate)", style: "text-align:justify;"}
				.read-more.pull-right
					= link_to "/blog/posts/{{post.permalink}}" do
						%i.fa.fa-sign-out
						LEER MÁS




