.answer {
	margin: 70px 30px 0px 30px;
	
	#content-answer {
		padding:10px; 
		text-align:center;
	}
}

/*large desktop*/
@media(min-width:1200px) {
	
}

/*media desktop*/
@media(min-width:768px){
	
}

/*phone*/
@media(max-width:767px) {
	.answer {
	margin: 70px 10px 0px 10px;
	
	#content-answer {
		padding:10px; 
		text-align: left;
	}
}

}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
}

/*tablet*/
@media(min-width:768px) {
	
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {

}