// import the CSS framework
@import "bootstrap";
@import "font-awesome";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

.titles{
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 60px 0 40px 0; 
}

#form{
  margin-top: 30px;

}

.disabled_true{
  background-color: #EEEEEE !important;
}

#margin{
  margin-bottom: 20px;
}

hr{
  border-top: 2px solid #001E7A;
  margin-top: 0px;
  margin-bottom: 0px;
}
.container-form{
background: #EEEEEF;
margin-top: 0px !important  ;

}

.box{
  padding-right: 15px;
  padding-left: 15px;
  background: white;
}

.form-control{
  margin-bottom: 10px;
}

#form{
padding-top: 55px;
padding-left: 30px;
padding-right: 30px;

  #files{
    .controls{
      margin-top: 10px;
    }
  }
}

.panel {
  margin-bottom: 20px;
}

.container-form{
  margin-top: 35px;

  .error-partners{
    top: 0px;
    color: red;
  }

  span{
    position: relative;
    top: -10px;
  }
}

.container_form .form-inyx {
  padding: 0px;
}

#btn{
  position: absolute;
  top: 10px;
  left: 96.5%;
  color: white !important;
}

#save{
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}



#nested{
  position: relative;
  box-shadow: 1px 1px 5px #888888;
  padding: 55px 15px 15px 15px;
  margin-top: 10px;
}

.links{
  text-transform: uppercase;
  margin-top: 5px;

    a{
      color: #337ab7 !important;
    }
}


.relations{
  margin-top: 15px;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background: white;
  padding: 0px;
  width: 100%;
  margin-top: 0px; // accommodate the navbar
  padding-left: 0px;
  padding-right: 0px;
	padding-top:0px;

  .fluid {
    margin: 0px;
  }
}
section {
  @extend .row;
  margin-top: 20px;
  }

// Styles for form views
// using Bootstrap
// generated by the rails_layout gem
.authform form {
  @extend .well;
  @extend .well-lg;
  border: 0px;
  background: none;
  padding: 0px;
  color: white;
  border: 0px;
}

.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}

#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  cursor: pointer;
  background-color: #FFFFFF;
  opacity: 1;
  border-radius: none;
}

.logo-login{
  margin-top: 0px;
}

.help-inline {
	color: red;
}

.panel-default {
  margin-bottom: 0px;
  border: 0px;
  border-radius: 0px;

  .panel-body {
    padding: 0px;
    padding-bottom: 0px;

    #table-scroll {
      margin-top: 55px;
    }
  }

  .panel-footer {
    border-top: none;
  }
}

.list-wrapper{
  position: relative;
}

.list-wrapper #list-heading {
  position: fixed;
  width: 75%;
  z-index: 100;
}

.btn-action {
  border-radius: 50%;
  border: 1px solid #a3a3a3;
  
  i {
    color: #6f6f6f;
  }
}

.alert{
  margin-bottom: 0px;
  padding:15px;
  font-weight: bold;
  margin-top: 15px;
}

.btn-action:hover {
  transition: all 0.2s ease-in-out;
  background: #4758D3;
  color: #4758D3;
  border: 1px solid #4758D3;

  i {
    transition: all 0.2s ease-in-out;
    color: white;
  }
}