.news {
	margin-top: 10px;
	padding:30px; 
	padding-bottom:30px; 
	padding-top:20px;

	.link-post:hover {
		text-decoration: none;

		.post-affiliate {
			background: #334c96;
			color: white;
		}
	}

	.post-affiliate {
		margin-top: 15px;
		box-shadow: 1px 1px 5px #888888;
		border-radius: 5px;
		padding: 20px;

		h2 {
			margin: 0px;
		}
	}
}

/*large desktop*/
@media(min-width:1200px) {
	
}

/*media desktop*/
@media(min-width:768px){
	
}

/*phone*/
@media(max-width:767px) {
	.news {
		padding:10px; 
		padding-bottom:10px; 
		padding-top:10px;
	}

	h2 {
		font-weight: bold;
		font-size: 18px;
	}
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
}

/*tablet*/
@media(min-width:768px) {
	
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {

}
