.polls {
	margin: 30px;
	
	.poll:hover {
		background: #334c96;
		color: white;
	}

	.poll {
		margin-top: 15px;
		box-shadow: 1px 1px 5px #888888;
		border-radius: 5px;
		padding: 20px;

		h3 {
			margin: 0px;
		}

		#btn-answer {
			margin-top: 7px;
			float: right;
		}
	}
}

/*large desktop*/
@media(min-width:1200px) {
	
}

/*media desktop*/
@media(min-width:768px){
	
}

/*phone*/
@media(max-width:767px) {
	.polls {
		margin: 10px;
		
		.poll:hover {
			background: #334c96;
			color: white;
		}

		.poll {
			margin-top: 15px;
			box-shadow: 1px 1px 5px #888888;
			border-radius: 5px;
			padding: 20px;

			h3 {
				font-size: 16px;
				font-weight: bold;
				margin: 0px;
			}

			
		}	
	}
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
}

/*tablet*/
@media(min-width:768px) {
	
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {

}