%center
	= image_tag "http://cacoinpar.org/assets/frontend/home/logo-cacoimpar.png", alt: "Cámara de comercio e industria de paraguaná", width: "250px";
	
%p= "Hola #{@resource.name}!"
%p Hemos recibido una solicitud de cambio de contraseña para nuestro portal administrativo CACOINPAR.
%p Podrás cambiar tu contraseña en este link.
%p Si no solicitaste esto, por favor omite este mensaje, tu contraseña no cambiara hasta que accedas al link. 
%p= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token)
%p Para mas informacion escribenos a info@cacoinpar.org
%p Saludos cordiales.