.show-content-post {
	border: 1px solid #a3a3a3;
	padding: 10px;
	
	p {
		margin: 0px;
	}
}

#show-mobile-post {

	.label-tag {
		background: #4758d3;
		margin-top: 15px;
		font-size: 12px;
		color: white;
		font-weight: bold;
		letter-spacing: 1px;
		font-size: 14px;
		padding-left: 7px;
		padding-right: 7px;
		border-radius: 0px;
	}

}

#attributes-config-blog {
	.controls {
		.checkbox {
			margin: 0px;
			padding: 0px;
		}
	}

	label {
		margin-bottom: 0px;
	}
}

/*iframes youtube responsive*/
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
  margin-bottom: 10px;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}