= simple_form_for(@category) do |f|
  .container_form 
    .title_form
      Datos de Categoría
    .form-inyx
      = f.input :name, label: false, input_html: { class: 'form-control input-inyx', placeholder: "Nombre" }
      = f.input :description, label: false, input_html: { class: 'form-control input-inyx', placeholder: "Descripción"}
    .panel-footer
      .form-actions
        = f.button :submit, "Guardar", class: "pull-right btn submit-inyx"
      .clearfix