#about { 
	background:  #eeeeef;

	.container {
		width: 75%;
	}

	h1 {
		color: #000000;
		margin: 60px;
		text-align: center;
		font-family: Lato;
		font-weight: 700;
	}

	h4 {
		color: #213a83;
		padding: 20px;
		text-align: center;
		font-family: Lato;
		font-weight: normal;
	}

	hr {
		border-bottom: 5px solid white;
		margin: 0px;
	}

	.text-description {
		margin-top: 30px;
		font-family: Lato;
		font-weight: 300;

		i{
			font-size: 80px;
			color: #213a83;
		}

		.title {
			color: #213a83;
			margin: 20px;
			font-family: Lato;
			font-weight: 300;
		}

		.text {
			text-align: center;
			font-family: Lato;
			font-weight: normal;
			font-size: 16px;
		}
	}

	.banner-about {
		margin-top: 30px;
		position: relative;
		background: image-url("frontend/about/banner-1.jpg");
		background-position: center center;
		width: 100%;
		height: 130px;
		background-size: cover;

		
		.banner-text {
			margin-top: 10px;
			position: absolute;
			color: white;
			font-size: 20px;
			text-align: center;
			top: 0px;
		}

		.btn-affiliate {
			margin-top: 20px;
			font-size: 14px;
			text-decoration: none;
			color: white;
			font-weight: 700;
			padding: 8px 85px 8px 85px;
			background: rgb(247, 191, 9);
		}

		.space-btn{
		padding: 8px 78px 8px 78px;
		}

		.btn-affiliate:hover {
			opacity: 0.9;
		}
	}
}

/*large desktop*/
@media(min-width:1200px) {
	
}

/*phone*/
@media(max-width:767px) {
	#about {

		.banner-about{
			height: 120px;
			background-size: 180% 100%;

			.btn-affiliate{
				padding: 8px 35px 8px 35px;
			}

			.space-btn{
				padding: 8px 30px 8px 30px;
			}

		}

		.container {
			width: 100%;
		}

		h1 {
			color: #000000;
			font-size: 18px;
			margin: 0px;
			padding: 20px;
			text-align: center;
			font-family: Lato;
			font-weight: 700;
		}

		.title {
			margin: 0px;
			padding: 0px;
			font-size: 50px;
		}

		.text-description .text {
			text-align: justify;
		}

		.banner-text {
			margin-top: 20px;
			color: white;
			font-size: 20px;
			text-align: center;
		}
	
		img {
			min-height: 140px;
			min-width: 100%;

		}
	}
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {

}

/*tablet*/
@media(min-width:768px) {

}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
	#about {
		.banner-about{
			height: 120px;
			background-size: 180% 100%;

		}
	}	
}