#affiliate {

	.banner-about-2 {
		background: #334c96;
		text-align: center;
		color: white;
		padding: 40px;
		height: 150px;

		h1 {
			font-weight: normal;
			font-size: 30px;
			margin: 0px;
		}

		h4 {
			font-size: 22px;
			font-weight: 300;
			margin-bottom: 0px;
		}
	}

	#carousel-affiliates {
		padding: 60px 0px 30px 0px;

		#size-img{
			width: 150px;
			height: 150px;
		}

		.item {
			height: 100px;
		}
	}

	.why-affiliates {
		background: #eeeeef;
		padding: 30px 0px 30px 0px;

		.row {
			margin: 0px;
		}

		h2 {
			text-align: center;
			font-weight: normal;
			font-size: 26px;
			margin: 0px 0px 10px 0px;
		}

		.divisor {
			width: 55%;
		}
		
		.column {
			ul {
				list-style-type: none;
				padding: 0px 100px 0px 100px;

				li {
					margin: 10px;
					margin-bottom: 30px;
					height: 70px;
					font-size: 16px;
				}
			}
		}

		#column-one {
			ul {
				li {
					text-align: right;
					padding-right: 20px;
					border-right: 4px solid #334c96;
				}
			}
		}

		#column-two {
			ul {
				li {
					text-align: left;
					padding-left: 20px;
					border-left: 4px solid #334c96;
				}
			}
		}
	}

	.banner-affiliates {
		background: image-url("frontend/affiliates/banner-affiliates.jpg") no-repeat;
		background-position: center center;
		background-size: fixed;
		height: 230px;
		padding: 30px;
		text-align: center;
		
		span {
			display: block;
			margin-top: -7px;
		}

		.title {
			color: white;
			font-weight: 700;
			font-size: 30px;
		}

		.btn-group {
			margin-top: 10px;

			.btn-affiliate {
				margin: 10px;
			  font-size: 20px;
			  font-weight: 300;
			  text-decoration: none;
			  color: black;
			  border-radius: 0px;
			  padding: 8px 30px 8px 30px;
			  background: #f7bf09;
			}

			.btn-affiliate:hover {
				opacity: 0.9;
			}
		}
	}

	.banner-youtube{
		background: image-url("frontend/affiliates/EnfoqueEmpresarial.jpg") no-repeat;
		background-position: center center;
		background-size: 100%;
		height: 130px;
	}
}

/*large desktop*/
@media(min-width:1200px) {
	
}

/*media desktop*/
@media(min-width:768px){
	#affiliate {
		.why-affiliates {
			.column {
				ul {
					list-style-type: none;
					padding: 0px 100px 0px 100px;

					li {
						margin: 10px;
						margin-bottom: 30px;
						height: 70px;
						font-size: 16px;
					}
				}
			}
		}
	}
}

/*phone*/
@media(max-width:767px) {
	#affiliate {
		.banner-text {
			margin-top: 20px;
			color: white;
			font-size: 20px;
			text-align: center;
		}
	
		img {
			min-height: 140px;
		}

		.banner-about-2 {
			padding: 20px 10px 20px 10px;
		}

		.why-affiliates {
			background: #eeeeef;
			padding: 30px 0px 30px 0px;

			.row {
				margin: 0px;
			}

			h2 {
				text-align: center;
				font-weight: normal;
				font-size: 26px;
				margin: 0px 0px 20px 0px;
			}
			
			.column {
				ul {
					list-style-type: square;
					padding: 0px 0px 0px 14px;

					li {
						margin: 10px;
						margin-bottom: 30px;
						height: auto;
						font-size: 16px;
					}
				}
			}

			#column-one {
				ul {
					li {
						text-align: justify;
						padding-right: 0px;
						border-right: none;
					}
				}
			}

			#column-two {
				ul {
					li {
						text-align: justify;
						padding-left: 0px;
						border-left: none;
					}
				}
			}
		}
		
		.banner-affiliates {
			.btn-group {
				margin-top: 10px;

				.btn-affiliate {
					margin: 10px;
				  font-size: 16px;
				  font-weight: 300;
				  text-decoration: none;
				  color: black;
				  border-radius: 0px;
				  padding: 8px 20px 8px 20px;
				  background: #f7bf09;
				}
			}
		}
	}
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
}

/*tablet*/
@media(min-width:768px) {
	#affiliate {
		.why-affiliates {
			.column {
				ul {
					list-style-type: none;
					padding: 0px 0px 0px 0px;

					li {
						margin: 10px;
						margin-bottom: 30px;
						height: 70px;
						font-size: 16px;
					}
				}
			}
		}
	}
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
	#affiliate {
		.why-affiliates {
			background: #eeeeef;
			padding: 30px 100px 30px 100px;

			.row {
				margin: 0px;
			}

			h2 {
				text-align: center;
				font-weight: normal;
				font-size: 26px;
				margin: 0px 0px 20px 0px;
			}
			
			.column {
				ul {
					list-style-type: square;
					padding: 0px 0px 0px 14px;

					li {
						margin: 10px;
						margin-bottom: 30px;
						height: auto;
						font-size: 16px;
					}
				}
			}

			#column-one {
				ul {
					li {
						text-align: justify;
						padding-right: 0px;
						border-right: none;
					}
				}
			}

			#column-two {
				ul {
					li {
						text-align: justify;
						padding-left: 0px;
						border-left: none;
					}
				}
			}
		}
	}
}
