.blog {
	background: rgb(231, 233, 237);
	margin: 0px !important;
	padding: 20px;

	.title-post{
		margin: 0px !important;
	}

	.read-more{
		padding: 5px;
		border-radius: 8px;
		border: solid;
		border-color: #213a83;
		text-decoration: none;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s; 
		-o-transition: all 0.5s; 

		a{
			text-decoration: none;
		}
	}

	.block{
		margin-left: 5px;
	}

	.read-more:hover{
		a{
			color: #fff;	
		}
		
		background: #213a83;
	}

	.panel-heading{
		background: #07388f !important;
		color: #fff !important;
		font-family: 'Lato', sans-serif;
	}

	.panel-body{
		font-family: 'Lato', sans-serif;
		padding: 0px;
	}

	.preview-post {
		border-bottom: #ddd 1px solid;
		padding-bottom: 60px;
		margin-bottom: 60px;

		.content-post {
			padding: 10px 0;
			line-height: 22px;
			margin: 0 0 0px;
		}
	}

	.search {
		border: 0;
		padding: 10px;
		width: 100%;
		height: 38px;
		background-color: #fff;
		border-radius: 5px;
		border: 1px solid #07388f;
		font-family: 'Lato', sans-serif;
	}

	.search:focus {
		outline: none;
	}

	.widget {
		margin-bottom: 30px;

		.categories {
			.active {
				background-color: #E4E4E4;
			}
			li a:hover {
				background-color: #E4E4E4;
			} 
		}

		.tags {
			margin-top: 5px;
			margin-left: 5px;
			.active {
				background-color: #B4B4B4;
			}
		}

		h4 {
			letter-spacing: normal;
			
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				margin-bottom: 0px;
			}

			a {
				color: black;
				text-decoration: none;
			}
		}

		.nav-list.categories{

			a:hover{
				background: #C5C5C5 !important;
			}
		}

		.ul-recents{
			li{
				margin: 15px;
				text-align: justify;	
			}

			a:hover{
				color: #07388f;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s; 
				-o-transition: all 0.3s; 
		
			}
		}

		a.tag {
			background-color: #07388f;
			padding-top: 6px;
			padding-bottom: 6px;
			margin-bottom: 6px;
			color: #fff;
			border-radius: 4px;
		}

		.nav-list {
			li a{
				color: black;
			}
		}

		.datetime {
			color: #999;
			font-size: 12px;
		}

		.label-default {
			border: 1px solid #CCC;
			padding: 0.3em 0.7em 0.4em;
		}

		.label {
			font-weight: normal;
			padding: 0.4em 0.8em 0.5em;
			display: inline-block;
		}
	}

	.date {
		text-align: center;
		font-size: 16px;
		display: inline-block;
		line-height: 45px;
		color: #313131;

		small {
			text-transform: uppercase;
			display: block;
			font-size: 14px;
			line-height: 20px;
		}
	}

	.info {
		border-top: #ddd 1px solid;
		display: block;
		font-size: 11px;
		color: #333;

		.block {
			display: block !important;
			margin-bottom: 10px;
		}

		a { 
			color: #213a83;
		}
	}

	.navbar-nav li.active {
		background-color: #E4E4E4;
	}
	.navbar-nav	li a:hover {
		background-color: #E4E4E4;
	}

	.dropdown:hover .dropdown-menu {
    display: block;
 	}
	
}

/*iframes youtube responsive*/
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
  margin-bottom: 10px;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.blog .preview-post {
  border-bottom: #ddd 1px solid;
  padding-bottom: 30px;
  margin-bottom: 40px;
}

@media (max-width: 480px) {}

@media(max-width:767px) {
	.blog .widget {
		margin-top: 50px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 992px) and (max-width: 1199px) {}