#contact_us {
	background: rgb(230, 233, 231);
	padding: 40px 0px 40px 0px;
	
	.container {
		width: 90%;
	}

	h3 {
		text-align: center;
		border: 2px solid rgb(0, 30, 120);
		padding: 10px 0px 10px 0px;
		font-weight: normal;
		font-family: Lato;
	}

	#contact {
		padding-left: 50px;

		ul {
			margin-top: 20px;
			list-style-type: none;
			padding: 0px;
			li {
				font-size: 16px;
				margin-bottom: 20px;
				i {
					margin-right: 10px;
					font-size: 25px;
					color: #f7bf09;
				}
			}
		}
	}

	#twitter-contact {
		padding-right: 50px;
	}

	#logo-conact {
		img {
			margin-top: 70px;
		}
	}

	.twitter-timeline {
		height: 300px !important;
	}
}

/*large desktop*/
@media(min-width:1200px) {
	
}

/*media desktop*/
@media(min-width:768px){
	
}

/*phone*/
@media(max-width:767px) {
	#contact_us {
		.container {
			width: 100%;
		}

		h3 {
			text-align: center;
			border: 2px solid rgb(0, 30, 120);
			padding: 10px 0px 10px 0px;
			font-weight: normal;
			font-family: Lato;
		}

		#contact {
			padding-left: 15px;

			ul {
				margin-top: 20px;
				list-style-type: none;
				padding: 0px;
				li {
					font-size: 16px;
					margin-bottom: 20px;
					i {
						margin-right: 10px;
						font-size: 25px;
						color: #f7bf09;
					}
				}
			}
		}
	}
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
}

/*tablet*/
@media(min-width:768px) {
	#contact_us {
		.container {
			width: 100%;
		}
	}
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
	
}