.event-datail{
	background: rgb(231, 233, 237);

	.event-header {
		h1 {
			padding: 30px 0px 30px 0px;
			text-align: center;
			font-family: "Lato";
			margin: 0px 0px 0px 0px;
		}

		.description{	
			font-family: "Lato";
			padding: 30px 30px 30px 30px;
			border: 3px solid white;
			border-left: 0px;
			border-right: 0px;
		}
	}
	
	.attachments {
		margin: 30px 0px 30px 0px;
	}

	.paginator {
		text-align: center;
	}
}