.events { 
	background: rgb(231, 233, 237);

	h1 {
		margin: 0px;
		text-align: center;
		font-weight: 300;
		padding-top: 30px;
		margin-bottom: 30px;
	}

	.message {
		border: 3px solid #213a83;
		color: #213a83;
		font-size: 24px;
		padding: 20px 0px 20px 0px;
		border-left: 0px;
		border-right: 0px;
		text-align:center;
		margin-bottom: 30px;
	}

	.event {
		.thumbnail{

			img:hover{
				opacity: 0.9;
			}
		
			h3 {
				margin: 0px 0px 10px 0px;
			}

			a:hover {
				text-decoration: none;
			}

			a:focus{
				text-decoration: none;
			}

			p {
				text-align: justify;
			}
		}
	}
	.pagination {
		margin: 0px !important;
	}

	.more {
		text-align:center;
	}
	
	.btn {
		border-radius: 0px;
	}

	.btn-affiliate {
		margin-top: 5px;
		font-size: 14px;
		text-decoration: none;
		color: black;
		font-weight: 400;
		padding: 7px 30px 7px 30px;
		background: rgb(247, 191, 9);
	}

	.btn-affiliate:hover {
		opacity: 0.9;
		color: black;
	}
}

@media(max-width:767px) {
	.events {

		h1 {
			margin-top: 50px;
		}
	}
}