.new-affiliate {
  padding-top: 30px;
  background: #eeeeef;

  h1 {
    margin: 0px 0px 30px 0px;
    font-family: Lato;
    text-align: center; 
    font-weight: 300;
  }

  p {
    color: #203884;
    font-size: 24px;
    padding: 20px 0px 20px 0px;
    border: 3px solid #203884;
    border-left: 0px;
    border-right: 0px; 
    text-align: center;
  }
}

#form{
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 30px;

  .row {
    margin: 15px;
  }

  .error-partners {
    color: red;
  }

  .form-control{
    margin-bottom: 10px;
  }

  .dynamic{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #203884;
  }

  #save{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .help-inline{
    position: relative;
    color: red;
    top: -10px;
  }

  .container-form{
    background: #EEEEEF;
  }

  .panel-heading{
    background-color: #203883 !important;
    color: white !important;
  }

  #nested{
    position: relative;
    box-shadow: 1px 1px 5px #888888;
    padding: 40px 0 10px 0;
    margin-top: 10px;
  }

  .links{
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 5px;
  }

  .box{
    padding-right: 15px;
    padding-left: 15px;
  }

  .relations{
    margin-top: 5px;
  }

  .color-legend {
    color: blue;
    font-size: 13px;
    padding: 10px 0px 10px 0px;
    border: 1px solid #203884;
    border-left: 0px;
    border-right: 0px;
  }
}

