// import the CSS framework
@import "bootstrap";
@import "font-awesome";

body {
  background: white;
  font-family: Lato;
}
// make all images responsive by default

img {
  @extend .img-responsive;
  margin: 0 auto;
  }

.navbar-toggle {
  margin-top: 10px;
}

.modal-content{
background: transparent;
box-shadow: none;
border: none;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
  
.form {
  @extend .col-md-6;
  }

.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }

.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral

.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}