// Place all the styles related to the frontend controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, main {
	height: 100%;
}

#sidebar {
	position: fixed;
  width: 220px;
  background: white;;
  height: 100%;
  left: 0;
  font-family: 'Raleway', sans-serif;
}

#container-body {
	height: 100%;
	margin-left: 220px;
}

#footer {
	.copyright {
		text-align: center;
		color: white;
		padding: 10px;
		font-size: 16px;
		background: rgb(135, 137, 136);
	}

	.credits {
		background: rgb(9, 57, 143);
		text-align: center;
		color: white;
		padding: 20px;
		font-size: 20px;
		
		img {
			width: 60px;
			display: inline;
		}
	}
}

/*large desktop*/
@media(min-width:1200px) {
	
}

/*media desktop*/
@media(min-width:768px){
	
}

/*phone*/
@media(max-width:767px) {
	#container-body {
		margin:0px;
	}
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
}

/*tablet*/
@media(min-width:768px) {
	
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
	#container-body {
		margin:0px;
	}
}
