#home {
	height: 100%;

	.carousel-inner > .item > a > img {
		width: 110%;
		height: 100%;
	}

	.carousel-fade {
		height: 100%;
	  .carousel-inner {
	  	height: 100%;
	  	
	    .item {
	    	height: 100%;
	      opacity: 0.5;
	      transition-property: opacity;
	    }

	    .active {
	      opacity: 1;
	    }

	    .size-banner{
	    	width: 100%;
	    }

	    .active.left,
	    .active.right {
	      left: 0;
	      opacity: 0;
	      z-index: 1;
	    }

	    .next.left,
	    .prev.right {
	      opacity: 1;
	    }
	  }

	  .carousel-control {
	    z-index: 2;
	  }

	  .carousel-indicators {
	  	display: none;
	  	li {
		  	width: 16px;
		  	margin-left: 10px;
		  	height: 16px;
		  	background: white;
	  	}

	  	.active {
	  		border-color: rgb(128, 127, 128);
	  		background: rgb(128, 127, 128);
	  	}

	  	.banner-home{
	  		width: 100%;
	  		height: 100vh;
	  	}
	  }

	  .scroll-down {
	  	position: absolute;
	  	width: 100%;
	  	bottom: 50px;
	  }

	  .carousel-indicators {
	  	top: 70px;
	  	height: 20px;
	  }
	}

	.item:nth-child(1) {
	  height: 100%;
		width: 100%;
		position: relative;
		background: image-url("frontend/home/bg-1.jpg") no-repeat;
		background-position: center center;
		background-size: cover;
		
		
		.centered {
			padding-top: 100%;
		}
		
		.img-container {
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;

	    text-align:center; /* Align center inline elements */
	    font: 0/0 a;
		}

		.img-container:before {
		  content: ' ';
		  display: inline-block;
		  vertical-align: middle;
		  height: 100%;
		}

		.img-container img {
			width: 300px;
		  vertical-align: middle;
		  display: inline-block;
		}

	  .not-visible {
	  	opacity: 0;
	  	text-align: center;
	  }
	}

	.item:nth-child(2) {
	  height: 100%;
		width: 100%;
		background: image-url("frontend/home/bg-1.jpg") no-repeat;
		background-position: center center;
		background-size: cover;
	}

	.item:nth-child(3) {
	  height: 100%;
		width: 100%;
		background: image-url("frontend/home/bg-1.jpg") no-repeat;
		background-position: center center;
		background-size: cover;
	}

	.radius{
		font-size: 75px;
		color: #203983;
	}

	.alert{
		margin-bottom: 0px;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 14px;
		font-weight: bold;
		margin-top: 15px;
	}


	#message_alerts{
		z-index: 1;
		width: 900px;
		position: fixed;
		right: 140px;
		padding: 10px;

	}
}


/*large desktop*/
@media(min-width:1200px) {
	
	
}



/*phone*/
@media(max-width:767px) {
	#home {
		.item:nth-child(1) {
	  	.img-container img {
				width: 200px;
			  vertical-align: middle;
			  display: inline-block;
			}
		}
	}
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
	#home {
		.carousel-indicators, .scroll-down {
			display: none;
		}
	}
}

/*tablet*/
@media(min-width:768px) {

}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {

}
