#front-navbar.navbar-default {
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 14px;
	background-color: white;
	margin-bottom: 0px;
	border-radius: 0px;
	border: none;

	.navbar-collapse {
		padding:0px;
	}
	
	a{
		color:white;
	}

	.navbar-header {
		margin: 50px 50px 50px 50px;
	}
	
	li {
		font-family: Lato;
		font-weight: 300;
		width: 100%;
		text-align: center;

		i {
			display: none;
		}
	}

	.current {
		background-color: rgb(184, 185, 191);

		a {
			color: white;
		}

		i {
			font-size: 20px;
			display: none;
			position: absolute;
			right: 30px;
			top: 15px;
			color: #213a83;
		}
	}

	li:hover {
		background-color: rgb(184, 185, 191);

		a {
			color: white;
		}
	}

	a {
		color:#213a83;
	}
}

.socials {
	position: relative;
	bottom: -50px;
	font-size: 30px;


	.links-socials {
		text-align: center;
		list-style-type: none;

		li {
			padding: 5px;
			display: inline;
			a {
				color: rgb(7, 56, 143);
				text-decoration: none;
			}
		}

	}
}

.reciclaje{
	position: relative;
	margin-top: 56%;

	p{
		margin-top: 10px;
		text-align: center;
		font-size: 12px;
		color:#213a83;
	}
}


@media (min-width: 992px) and (max-width: 1199px) {
	}

@media (min-width: 768px) and (max-width: 991px) {
	}

@media(max-width:767px) {
	#front-navbar.navbar-default {
		.navbar-header {
			margin: 0px 0px 0px 0px;
		}
	}
}

@media(min-width:768px) {
	#front-navbar.navbar-default {
		.navbar-header {
			margin: 0px 0px 0px 0px;
		}
	}

}

