.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1", id: "modal-#{attachment.id}"}
  .modal-dialog.modal-md
    .modal-content
      = image_tag attachment.image