#container-body{ style: "background: rgb(231, 233, 237);"}
	.event-datail
		.event-header
			%h1 
				= @catalog.name.upcase
			.description{aling:"justify"}
				= @catalog.description
		.attachments.row
			- if @attachments.empty?
				%p{ style: "text-align:center;" }
					Aún no hay fotografías del evento.
			- else
				- @attachments.each do |attachment| 
					.col-lg-3.col-md-3.col-sm-3.col-xs-12
						%a{"data-target" => "#modal-#{attachment.id}", "data-toggle" => "modal", :type => "button"}
							.thumbnail
								- if attachment.image && attachment.upload=='1'
									%img{src:"#{attachment.image}"}
								- if attachment.url && attachment.upload=='2'
									%img{src:"#{attachment.url}"}		
								- if attachment.url && attachment.upload=='3'
									%iframe.video-player.img-responsive{:allowfullscreen => "", :frameborder => "0",:src =>"#{attachment.url}"}
					- if attachment.image && attachment.upload=='1'
						= render "modal", attachment: attachment		
		.paginator
			= paginate @attachments
	- unless @attachments.empty?
		#footer
			= render "frontend/footer"