.container
	%h1 CÁMARA DE COMERCIO E INDUSTRIA DE PARAGUANÁ
%hr
.container
	%h4 Gremio empresarial en pro del desarrollo económico y social del estado Falcón
%hr
.container
	.row
		.col-lg-6.col-md-6
			.text-description#mision
				%center
					%i.fa.fa-bullseye
				%h1.title
					Misión
				%p.text
					Somos una asociación gremial conformada por empresarios comprometidos con la Península de Paraguaná, que representa y defiende los intereses de sus agremiados ante organismos publicos y privados, con el fin de promover el desarrollo económico, social y cultural de la comunidad Paraguanera.
		.col-lg-6.col-md-6
			.text-description#vision
				%center
					%i.fa.fa-eye
				%h1.title
					Visión
				%p.text
					Ser la agrupación gremial lider de la Península de Paraguaná, reconocida por la eficiencia en la prestación de servicios, el trabajo mancomunado con los organismos gubernamentales, empresariales y comunidad en general; así como por la generación de propuestas innovadoras, que actuen como elementos dinamizadores de una cultura de progreso.

.banner-about

	.col-lg-6.col-md-6.col-sm-12.col-xs-12.banner-text
		%p
			CONOCE COMO 
			%br/
			ESTAMOS CONFORMADOS
		= link_to "Organigrama", "#", class: "btn-affiliate", "data-target" => ".bs-example-modal-lg", "data-toggle" => "modal"

		= link_to "Junta Directiva", "#", class: "btn-affiliate space-btn", "data-target" => ".bs-junta-modal-lg", "data-toggle" => "modal"


//modal organigrama
.modal.fade.bs-example-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-dialog.modal-lg
		.modal-content
			= image_tag "frontend/organigrama_final.jpg"

//modal junta directiva
.modal.fade.bs-junta-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-dialog.modal-lg
		.modal-content
			= image_tag "frontend/about/cacoinpar_juntadirectiva_2.png"

