.banner-about-2
	.col-lg-12
		%h1
			ALIADOS
		%h4
			Se parte de nuestro gremio y disfruta de los beneficios

- if @affiliates.count >= 8
	#carousel-affiliates.carousel.slide.hidden-xs{"data-ride" => "carousel"}
		.carousel-inner{:role => "listbox"}
			.item.active
				- @affiliates.first(4).each do |affiliate|
					.col-lg-3.col-md-3.col-sm-3
						= image_tag "#{affiliate.logo.url}", id: "size-img"
			.item
				- @affiliates.last(4).each do |logo|
					.col-lg-3.col-md-3.col-sm-3
						= image_tag "#{logo.logo.url}", id: "size-img"
.why-affiliates
	.row
		%h2 ¿POR QUÉ AFILIARSE?
		= image_tag "frontend/affiliates/divisor.png", class: "divisor hidden-xs"
		
		.col-lg-6.col-md-6.col-sm-12.column#column-one
			%ul
				%li
					Talleres en materia de aduana, tributaria, atención al cliente, calidad de servicio.
				%li
					Asesorías legales.
				%li
					Acceso a boletines informativos de interés.
				%li
					Alquiler del salón “Davide Prati Guido” para reuniones y/o talleres.

		.col-lg-6.col-md-6.col-sm-12.column#column-two
			%ul
				%li
					Asesoría en proyectos de responsabilidad social empresarial.
				%li
					Formación de líderes empresariales, gremiales y emprendedores.
				%li
					Participación en las reuniones de Junta Directiva.
				%li
					Emisión de certificados de origen, según el tipo de empresa

.banner-affiliates
	.title
		¡Forma parte 
		%span
			de nosotros!
	.btn-group
		= link_to admin_index_path, class: "btn btn-affiliate" do
			Afiliado
			%span
			Activo
		= link_to new_affiliate_path, class: "btn btn-affiliate" do
			Nuevo 
			%span
			Afiliado
= link_to "https://www.youtube.com/channel/UCMjTcQcn7fLOQ6aPi9VnBbg", target:"_blank" do
	.banner-youtube