.container
	.col-lg-4.col-md-4.col-sm-6.hidden-xs#twitter-contact
		%a.twitter-timeline{"data-widget-id" => "595207561596575744", :href => "https://twitter.com/cacoinpar"} Tweets por el @cacoinpar.
	.col-lg-4.col-md-4.col-sm-4.hidden-xs.hidden-sm#logo-conact
		= image_tag "frontend/home/logo-cacoimpar.png"
	.col-lg-4.col-md-4.col-sm-6#contact
		%h3 Contacto
		%ul
			%li
				%i.fa.fa-phone-square
				// Teléfonos: (+58) (269) 247.24.02 / 246.44.53
				Teléfonos: (+58) (416) 015.06.52 / (414) 969.20.06
				%br
				Fax: +58 269 247.21.76
				// %br
				// Movil: +58 424 629.76.16
			%li
				%i.fa.fa-envelope-square
				info@cacoinpar.org
			%li
				%i.fa.fa-map-marker
				Calle Sucre entre Av. Bolívar y calle Brasil. Edif. CACOINPAR, piso 1.

:javascript
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

