.copyright
	Todos los derechos reservados
	%span.hidden-xs -
	%br.visible-xs
	Cámara de Comercio e Industria de Paraguaná Rif: J-08513662-2
.credits
	Desarrollado por
	= link_to "http://slicegroup.xyz/", target: "_blank" do
		= image_tag "slice.png"
