%center
  - flash.each do |name, msg|
    - if msg.is_a?(String)
      %div.hidden-xs{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}", id:"message_alerts"}
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
        = content_tag :div, msg, :id => "flash_#{name}"
#nav-bar.hidden-lg.hidden-md.hidden-sm
  = render 'layouts/frontend/navigation2'
#carousel.carousel.slide.carousel-fade{"data-ride" => "carousel"}
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#carousel"}
    %li{"data-slide-to" => "1", "data-target" => "#carousel"}
    %li{"data-slide-to" => "2", "data-target" => "#carousel"}
  / Carousel items
  .carousel-inner
    .item.active
      .centered
      .img-container
        = image_tag "frontend/home/logo-cacoimpar.png", alt: "Cámara de comercio e industria de paraguaná", class: "brand"
    - @banner.each do |catalog_banner|
      .item
        = link_to "/catalogs/#{catalog_banner.permalink}/attachments" do
          = image_tag "#{catalog_banner.image_banner}", alt: "Cámara de comercio e industria de paraguaná", class: "banner-home"
     
    .scroll-down
      %center
        %a.page-scroll{:href => "#about"}
          %i.fa.fa-angle-double-down.radius


:javascript

  $('#carousel').carousel({
    interval: 4000
  })
    