!!!
%html
  = render 'layouts/inyx_blog_rails/frontend/head' 
  %body
    %header
      = #render 'layouts/frontend/navigation2'
    %main{:role => "main"}
      = render "layouts/frontend/sidebar"
      #container-body
        = yield
