%center
	%h1 Nueva solicitud de afiliacion
%h2= "#{@affiliate.name} a realizado una nueva solicitud de afiliacion"
%p Puede ver la solicitud completa en 
= link_to "Ver solicitud", controller: "affiliates", action: "show", id: @affiliate