%center
	= image_tag "http://cacoinpar.org/assets/frontend/home/logo-cacoimpar.png", alt: "Cámara de comercio e industria de paraguaná", width: "250px";
.title_form
	%h2= "Estimado Afiliado: #{@affiliate.name} "
	%p Reciba un cordial saludo en nombre de la Junta Directiva de la Cámara de Comercio e Industria de Paraguaná.
	%p Por medio del presente nos dirigimos a Usted, en la oportunidad de comunicarles con gran satisfacción que la firma comercial representado por su persona fue admitida como miembro activo de esta Cámara.
	%p Cabe destacar, que con su inclusión en nuestra nómina de afiliados estamos seguros que nuestra organización continuara fortaleciéndose, ya que su membresía es esencia fundamental de CACOINPAR, de allí la importancia de contar con la participación activa de todos y cada uno de los afiliados, porque son ellos los que en definitiva mantienen el prestigio de una institución sexagenaria como la Cámara de Comercio.
	%p A partir de este momento puede ingresar a nuestra web a traves de  este link para iniciar sesion y completar sus datos, con los siguientes credenciales:
	
	= link_to "Completar registro", controller: "affiliates", action: "edit", id: @affiliate
	%br
	.form-inyx
		%ul.list-group 
			%li.list-group-item
				%strong Usuario:
				= @user.email
			%li.list-group-item
				%strong Contraseña:
				= @user.password

			%p Reiterándole la más cordial bienvenida,
		%br
		%center
			%p Atentamente
			= image_tag "http://cacoinpar.org/assets/frontend/firma.png", alt: "Firma presidente cacoinpar", width: "180px";
			%p Lcdo. Fernando Martínez Z.
			%p Presidente