= content_for(:title, "Restablecer contraseña - CACOINPAR")
.authform{style:"padding: 5px;"}
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
    %center
      %h4
        Cambia tu contraseña
        = devise_error_messages!
        = f.hidden_field :reset_password_token
        .form-group
          = f.label :password, 'Nueva contraseña'
          = f.password_field :password, label: false, autofocus: true, autocomplete: 'off', class: 'form-control'
          = f.label :password_confirmation, 'Confirmar nueva contraseña'
          = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'
        = f.submit 'Cambiar mi contraseña', :class => 'button right'

