= content_for(:title, "Restablecer contraseña - CACOINPAR")
.authform#reset-password
	%center
		= image_tag "frontend/home/logo.png", class: "logo-login"
		= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f|
			%h3 Olvidaste tu contraseña?
			%p Le enviaremos las instrucciones de restablecimiento de contraseña.
			= devise_error_messages!
			.form-group
				= f.label :email
				= f.email_field :email, :autofocus => true, class: 'form-control'
			= f.submit 'Restablecer su contraseña', :class => 'button right btn'
